body{
    background: #131313;
    color: #525252;
    font-family: verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.gizle {
    display: none; /* Form girişini gizlemek için */
}
.sayfa{
    width: 960px;
    margin: auto;
}
.ust{
    background: #232323;
}
#logo{
    float: left;
    width: 260px;
    margin-top: 7px;
    margin-left: 10px;
}

#logo h1{
    margin: 0;
    padding: 0;
    font-size: 42px;
    text-transform: uppercase;
    
}

#logo h1 a{
    font-family: Georgia;
    text-decoration: none;
    color: #DBDBDB;
    letter-spacing: 3px;
}

#logo p{
    color: #DBDBDB;
    font-family: Georgia;
    margin-left: 3px;
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 2px;
}
        
#menu{
    float: right;
    width: 650px;
    margin: 30px 0 0 0;
    padding: 5px;
    font-size: 50px;
    text-align: right;
}

#menu button {
        display: inline-block;
        padding: 5px 9px;
        background-color: #b4ade0 ;
        text-decoration: underline;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    display: inline;
    margin-right: 35px;
}

#menu ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana;
    color: #DBDBDB;
}

#menu ul button li a{
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana;
    color: black;
    
}

.orta{
    
    margin-top: 30px;
}
.orta-sol{
    width: 575px;
    float: left;
    height: 300px;
    background: #b4ade0;
   
    
}
.orta-sag{
    width: 360px;
    float: right;
    height: 280px;
    background: #b4ade0;
    padding: 10px;
}

.card
{
    width: 300px;
    float: left;
}

.card{
    margin-right: 30px;
}

.card:nth-child(3){
    margin:0px;
}

.card h1{
    border-bottom: 1px dotted white;
    padding-bottom: 15px;
    
}

.button a{
    display: inline-block;
    padding: 10px 15px;
    color: #b4ade0;
    background-color: #232323;
    text-decoration: none;
    
}

.clear{
    clear: both;
}